.section-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  background: #fd2b01db;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.rules-footer,
.logout-footer {
  color: transparent;
}

.gpm-footer-logo {
  width: 100px;
  height: 100px;
  margin: 0 20px 0 20px;
}

@media (max-width: 780px) {
  .logout-footer {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    margin-left: 30px;
  }
  .rules-footer {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    margin-left: 30px;
  }
  .rules-footer:hover {
    background-color: #ffd7d7;
    color: #ffffff;
    border: 1px solid #ffd7d7;
    cursor: pointer;
  }
  .section-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    background: #fd2b01db;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
