.gpm-banner-logo {
  width: 300px;
  height: auto;
  margin-left: 20px;
  margin-right: 50px;
}
.XCircle {
  cursor: pointer;
  margin-left: 40px;
  margin-right: 25px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  height: 40px;
  width: 60px;
}
.cardchecklist {
  cursor: pointer;
  margin-left: 40px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  height: 40px;
  width: 60px;
}
.cardchecklist:hover {
  background-color: #ffd7d7;
  color: #fff;
  border: 1px solid #ffd7d7;
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  position: fixed;
  top: -100px;
  z-index: 7;
}
.section-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 110px;
  background: #fd2b01db;
  z-index: 5;
  background-position: fixed;
}
@media (max-width: 780px) {
  .XCircle,
  .cardchecklist {
    display: none;
  }
  .section-header {
    height: 80px;
  }
  .gpm-banner-logo {
    margin-top: 40px;
    width: auto;
    height: 200px;
    margin-left: 20px;
    margin-right: 50px;
  }
}
